header{
    border: 2px solid white;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

header .material-symbols-outlined {
    font-size: 45px;
}

body{
    background-color: black;
}

.info {
    text-align: center;
    max-width: 280px;
    margin: 20px auto; /* Ajusta el margen para centrar horizontalmente */
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 50px;
}

.info img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.info h3 {
    margin: 10px 0;
    color: white;
}

.info p {
    font-size: 16px;
    color: wheat;
    margin-bottom: 10px;
}

.button{
    font-size: large;
    color: white;
}
