*{
    flex-wrap: wrap;
}

header{
    border: 2px solid white;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

header .material-symbols-outlined {
    font-size: 45px;
}

body{
    margin: 0;
    padding: 0;
    font-family: lato;
    background-color: black;
}

.contenido {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.imagenes{
    background-color: #e4c0c0;
    padding: 5px;
    border-radius:  5%;
}


.button-link .imagenes img{

    display: flex;
    height: 250px;
    width: 250px;
}

.button-link .imagenes .rojo p:last-of-type{
    color: black;
}



/* Estilos para los botones sin marcos */
.button-link {
    align-items: center;
    justify-content: center;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 25px;
    text-decoration: none;
}

.button-link img {
    width: 30%; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 30%;
}

.button-link:hover {
    opacity: 0.7; /* Cambia la opacidad en estado de hover, si lo deseas */
}

