*{
    flex-wrap: wrap;
}

header{
    border: 2px solid yellow;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

header .material-symbols-outlined {
    font-size: 45px;
}

.empanadasyhamburguesas{
    font-size: 20px;
    border: 0px solid yellow;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.ver{
    font-size: 10px;
    color: yellow;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
    margin-right: 10px;
}

.lista{
    margin-left: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family: lato;
    background-color: black;
}

.contenido {
    border: 2px solid yellow;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.imagenes{
    background-color: yellow;
    padding: 5px;
    border-radius: 50px;
}


.button-link .imagenes img{
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

.button-link .imagenes .rojo p:last-of-type{
    color: black;
}



/* Estilos para los botones sin marcos */
.button-link {
    align-items: center;
    justify-content: center;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 25px;
    text-decoration: none;
}

.button-link img {
    width: 30%; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 30%;
}

.button-link:hover {
    opacity: 0.7; /* Cambia la opacidad en estado de hover, si lo deseas */
}

.linea-separadora {
    border-top: 1px solid #755454; /* Estilo de línea con color gris claro */
    margin: 10px 0; /* Espacio en la parte superior e inferior de la línea */
}

/* Estilos para el footer */
.footer {
    /* Fondo oscuro */
   color: #fff; /* Texto blanco */
   padding: 20px 0;
   text-align: center; /* Centra el contenido */
   border-bottom: 2px solid yellow;
   border-left: 2px solid yellow;
   border-right: 2px solid yellow;

}