*{
    flex-wrap: wrap;
}

header{
    border: 2px solid white;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

body{
    margin: 0;
    padding: 0;
    font-family: lato;
    background-color: black;
    
}

header .material-symbols-outlined {
    font-size: 45px;
}

.formulario {
    color: white;
    max-width: 350px;
    max-height: 300px;
    margin: 70px auto;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el footer */
.footer {
    /* Fondo oscuro */
   color: #fff; /* Texto blanco */
   padding: 20px 0;
   text-align: center; /* Centra el contenido */
}

/* Estilos para el pie de página */
.footer p {
   margin: 0; /* Elimina el margen predeterminado */
   font-size: 16px;
}

/* Estilos para la lista de enlaces */
.footer ul {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center; /* Centra los elementos de la lista horizontalmente */
}

/* Estilos para los elementos de la lista */
.footer li {
   margin: 0 10px; /* Agrega espacio entre los elementos de la lista */
}

/* Estilos para los enlaces en el footer */
.footer a {
   color: #fff; /* Cambia el color de los enlaces a blanco */
   text-decoration: none;
}

/* Estilos para los enlaces en el hover */
.footer a:hover {
   text-decoration: underline; /* Subraya los enlaces en el hover */
}

.linea-separadora {
    border-top: 1px solid #755454; /* Estilo de línea con color gris claro */
    margin: 10px 0; /* Espacio en la parte superior e inferior de la línea */
}

