* {
    flex-wrap: wrap; /* Aplica flex-wrap a todos los elementos */
}

header {
    border: 3px solid yellow; /* Borde amarillo */
    color: white; /* Texto blanco */
    background-color: black; /* Fondo negro */
    display: flex; /* Usa el modelo de caja flexible */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    font-size: 24px; /* Tamaño de fuente */
}

.empanadasyhamburguesas {
    font-size: 20px; /* Tamaño de fuente */
    color: white; /* Texto blanco */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border-bottom: 1px solid yellow;
    padding-bottom: 7px;
}

body {
    margin: 0; /* Sin margen */
    padding: 0; /* Sin relleno */
    font-family: Lato, sans-serif; /* Fuente Lato */
    background-color: black; /* Fondo negro */
}

header .material-symbols-outlined {
    font-size: 45px; /* Tamaño de fuente */
    color: yellow; /* Texto amarillo */
}

.contenido {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: space-evenly; /* Distribuye los elementos de manera uniforme */
}

.imagenes {
    background-color: yellow; /* Fondo amarillo */
    padding: 10px; /* Relleno */
    border-radius: 20px; /* Borde redondeado */
    margin: 25px; /* Margen */
    text-align: center;
    width: auto;
    height: auto;
}

.imagenes img {
    width: 250px; /* Ancho de la imagen */
    height: 250px; /* Altura de la imagen */
    border-radius: 10%; /* Borde redondeado */
}

.imagenes:hover {
    opacity: 0.7; /* Opacidad al pasar el ratón */
}

.imagenes button {
    display: block; /* Hace que los botones se muestren como bloques */
    margin-bottom: 10px; /* Agrega un margen inferior entre los botones */
}

.checkbox-buttons {
    text-align: left;
    padding-right: 30px;
}



.footer {
    color: #fff; /* Texto blanco */
    padding: 20px 0; /* Relleno */
    text-align: center; /* Alinea el texto al centro */
    border: 2px solid yellow; /* Borde */
}
