*{
    margin: 0;
    padding: 0;
    font-family: lato;
}
.cabecero{
    background-color: #932828;
    color: white;
}
.primero{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 20px;
    
}

.logo{
    height: 50px;
}

.name{
    margin-left: auto;
}

.buscador{
    margin-left: auto;
}

.nav {
    background-color: #932828;
    text-align: center;
    padding: 5px;

}

.nav-link{
    color: white;
    margin: 100px;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.button-link .imagenes img{

    display: flex;
    height: 300px;
    width: 300px;
}

.button-link .imagenes .rojo{
    color: white;
}


.button-link{
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.button-link img {
    width: 30%; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 30%;
}

.button-link:hover {
    opacity: 0.7; /* Cambia la opacidad en estado de hover, si lo deseas */
}

.imagenes{
    background-color: #932828;
    padding: 10px;
    border-radius: 5%;

}

.special-offers{
    padding: 20px;
}


/* Estilos para el footer */
.footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px 0;
    text-align: center; /* Centra el contenido */
}

/* Estilos para el pie de página */
.footer p {
    margin: 0; /* Elimina el margen predeterminado */
    font-size: 16px;
}

/* Estilos para la lista de enlaces */
.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra los elementos de la lista horizontalmente */
}

/* Estilos para los elementos de la lista */
.footer li {
    margin: 0 10px; /* Agrega espacio entre los elementos de la lista */
}

/* Estilos para los enlaces en el footer */
.footer a {
    color: #fff; /* Cambia el color de los enlaces a blanco */
    text-decoration: none;
}

/* Estilos para los enlaces en el hover */
.footer a:hover {
    text-decoration: underline; /* Subraya los enlaces en el hover */
}