* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

.cabecero {
    background-color: #932828;
    color: white;
}

.primero {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 20px;
}

.logo {
    height: 50px;
}

.name {
    margin-left: auto;
}

.buscador {
    margin-left: auto;
}

.nav {
    background-color: #932828;
    text-align: center;
    padding: 5px;
}

.nav-link {
    color: white;
    margin: 100px; /* Reduce el margen */
}

/* Estilos para el footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para el pie de página */
.footer p {
    margin: 0;
    font-size: 16px;
}

/* Estilos para la lista de enlaces */
.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Estilos para los elementos de la lista */
.footer li {
    margin: 0 10px;
}

/* Estilos para los enlaces en el footer */
.footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para los enlaces en el hover */
.footer a:hover {
    text-decoration: underline;
}

.info {
    text-align: center;
    max-width: 300px;
    margin: 20px auto; /* Ajusta el margen para centrar horizontalmente */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.info h3 {
    margin: 10px 0;
    color: #333;
}

.info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}
